@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
  background-color: #f5f5f6;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.center {
  display: grid;
  place-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.shadow {
  box-shadow: 4px 6px 15px -15px rgb(0 0 0 / 0.5 )
}

.button a {
  height: 50px;
  width: 140px;
  color: #fff;
  background-color: #fe8826;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
}

.button a:hover {
  color: #fe8826;
  background-color: #fff;
}

nav ul li a, link {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  list-style: none;
}

section + section {
  margin-top: 70px;
}

h3 {
  font-size: 30px;
  color: #fe8826;
  font-weight: 800;
}

/* HEADER */

header {
  height: 56px;
  background-color: #191d23;
}

h1 a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 56px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

nav ul li a {
  line-height: 56px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

header div ul li a:hover, .hamburger:hover, h1 a:hover {
  color: rgb(255 255 255 / 0.7);
}

.hamburger {
  display: none;
  color: #fff;
  font-size: 30px;
}

/* MAIN */
/* Hero Banner */
.about-banner {
  position: relative;
  background: #fff url('../media/about-banner.jpg') center / cover no-repeat;
  height: 250px;
  display: grid;
  place-items: center;
}

.about-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  content: '';
}

.about-banner-text {
  z-index: 9999;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

/* About us */
.about-us {
  width: 70%;
  padding-right: 50px;
  text-align: left;
}

.about-us p {
  margin-top: 20px;
}

.kevin-sullivan-about {
  width: 30%;
  overflow: hidden;
}

.kevin-sullivan-about img {
  border-radius: 6px;
}

/* Get in Touch */
.contact {
  height: 280px;
  background-color: #eaeaea;
  padding-bottom: 10px;
}

.contact div p {
  padding-bottom: 20px;
}

/* FOOTER */
footer {
  height: 90px;
  background-color: #191d23;
}

.list {
  height: 100%
}

.list ul li {
  list-style: none;
}

.list i {
  line-height: 90px;
  font-size: 20px;
}

.fa-brands {
  color: #fff;
}

footer p {
  line-height: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Media Queries */
/* 768px and down */
@media (max-width: 768px) {
  .about-us{
    width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
  .kevin-sullivan-about {
    display: none;
  }
  .about-banner-text {
    font-size: 34px;
  }
}

/* 480px and down */
@media (max-width: 480px) {
  .hamburger {
    display: inline-block;
    line-height: 56px;
  }
  header div ul li a {
    display: none;
  }
  .about-banner-text {
    font-size: 28px;
  }
}